<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@16.1.0/dist/lazyload.min.js"></script>
<script>
  // gonna need this later for filtering and calling lazyLoadInstance.update();
  var lazyLoadInstance = new LazyLoad({
   elements_selector: ".lazy"
  });
  
  window.onload = function() {
    const filter = document.getElementById("filter");

    filter.addEventListener('change', (event) => {
        if(window.currentClass !== ""){
            const filter = event.target.value;
            var filters = filter.split(" ");
            filters = filters.map(function(element){
              return "\b" + filter + "\b";
            });
            const regex = new RegExp(filters.join("|"), "i")
            const items = document.getElementsByClassName("hidden");
            
            for(const item of items){
                var src = item.getAttribute('src'); 
                if(!src){ src = item.dataset["src"] }
                if(regex.test(src.split("/").pop())){
                    item.style.display = "inline";
                } else {
                    item.style.display = "none";
                }
            }

          lazyLoadInstance.update();
        }
    });

    filter.addEventListener('focusin', (event) => {
        event.target.value = "";
    })
  }
</script>
