---
---

@import "{{ site.theme }}";

.main-content {
  max-width: 100% !important;
}

.webm-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

video {
  margin: 1em;
}

video:not([src]):not([srcset]) {
  visibility: hidden;
}
